.about-grid-container {
  display: grid;
  /* 40px: outer margin layer */
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-auto-rows: min-content;
  min-height: 100vh;
  min-width: 100%;
  background: var(--white);
  color: var(--black);
}

.about-grid-container:nth-last-child(1) {
  grid-column: 1 / span 5;
}


/* Bio Section Styling */
.self-portrait {
  grid-column: 1 / span 5;
}

.self-portrait > img {
  max-width: 100vw;
  height: auto;
}

.bio-content {
  margin-top: 60px;
  grid-column: 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.bio-content-header {
  position: relative;
  grid-row: 1;
  grid-column: 1 / span 3;
  font-size: 50px;
  /* padding: 10px; */
  color: var(--red);
  /* padding-left: 80px; */
  /* padding-top: 40px; */
}

.bio-content-body {
  grid-row: 2 /span 3;
  grid-column: 2 / span 5;
  right: 0;
  width: 100%;
  height: 400px;
  display:flex;
  align-items: center;
}

#bio {
  margin-left: 30%;
  margin-right: 100px;
  font-size: 20px;
}

.skillset-container {
  grid-column: 3;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
}

.skill-list {
  grid-row: 3 / span 4;
  grid-column: 1 / span 4;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 130px;
  height: 60px;
  background: var(--white);

  border: 1px solid var(--black);
}

.skill-title {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.skill-item:hover {
  /* Animation for when mouse is on top of div */
}

#skill-text-container {
  padding: 10px;
  text-align: center;
}



/* Habit Section Styling */
.habits {
  margin-top: 40px;
  grid-column: 3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.image-gallery {
  grid-column: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;;
}

.image1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.image2 {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.image3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.image4 {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
}

/* Layout styles -----------------------------------*/
@media (min-width: 620px) {

}

@media (min-width: 960px) {
  
}