/* Layout styles -----------------------------------*/
@media (min-width: 620px) {
  
}

@media (min-width: 960px) {
  
}

/* Styles */
/* TODO: separate them into corresponding css files */
.blog-page-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 120px auto 120px;
  grid-gap: 10px;
  background: var(--white);
}

/*  */
.blog-posts-container {
  display: grid;
  grid-row: 2;
  grid-column: 1 / span 12;
  padding: 15px;
}

/* Container for all previous posts */
.posts-container {
  display: grid;
}

/* Each post's container */
.post {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
}

.poster-row {
  display: flex;
  /* align-items: center; */
  background: var(--orangered); /* TODO: eventually fix the coloring */
}

.poster-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/* Avatar's styling */
.avatar {
  /* TODO: Center the image and add margin */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 100%;
  background: var(--blue);

}
.headshot {
  width: 100px;
  height: 100px;
}

/* Even number post's styling */
.post-content {
  background: var(--lightgray);
  padding: 10px;
}

/* Odd number post's styling */
.post:nth-of-type(odd) > .post-content {
  background: var(--lightergray);
  padding: 10px;
}